@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.mainTextFieldDivv {
  border-radius: 10px;
  /* width: 382px; */
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.formTop {
  margin-left: 1rem;
}

.formBottom {
  padding-top: 1rem;
  margin-left: 1rem;
}

.centerTextt {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 0.6rem;
  font-family: "Open Sans", sans-serif;
}

.minimalSumm {
  color: gray;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.bottomTextt {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.ekonom {
  color: gray;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.divtelega {
  display: flex;
  justify-content: center;
  /* width: 93.5%; */
  /* margin-left: 0.8rem; */
  margin-top: 1rem;
}

.wait {
  color: gray;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
}

.telegrammm {
  width: 95%;
}

@media (max-width: 405px) {
  .divtelega {
    display: flex;
    justify-content: center;
    /* width: 97%; */
    /* margin-left: 0.3rem; */
  }
}

@media (max-width: 382px) {
  .telegrammm {
    width: 97%;
  }
  .formTop {
    margin-left: 0.5rem;
  }

  .formBottom {
    padding-top: 1rem;
    margin-left: 0.5rem;
  }

  .divtelega {
    display: flex;
    justify-content: center;
    /* width: 95.5%; */
    /* margin-left: 0.5rem; */
  }
}

@media (max-width: 300px) {
  .formTop {
    margin-left: 1rem;
  }

  .formBottom {
    padding-top: 1rem;
    margin-left: 1rem;
  }

  .divtelega {
    display: flex;
    justify-content: center;
    /* width: 90%; */
    /* margin-left: 0.5rem; */
  }
  .telegrammm {
    width: 100%;
  }
}
