@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.miniMainService {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.descriptionService {
  font-family: "Open Sans", sans-serif;
  margin: 10px 0 3rem 0;
  padding: 0;
  font-size: 2rem;
  line-height: 42px;
  font-weight: 700;
  color: rgb(1, 41, 112);
  text-align: center;
}

.themeService {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: rgb(23, 44, 212);
}

.mainDivCard {
  display: flex;
  justify-content: space-between;
}

.miniMainDivCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* 
.miniMainDivCard :hover {
  background-color: #4154f1;
} */

.cardsServiceone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;

  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 94.5%;
  padding: 60px 30px 70px;
  text-align: center;
  border-radius: 5px;
  margin: 1rem;
}

.cardsServicetwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;

  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 94.5%;
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  margin: 1rem;
}
.cardsServicethree {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;

  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 94.5%;

  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  margin: 1rem;
}

.bgCurrency {
  width: 90px;
  height: 90px;
  background-color: #dbf3fe;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.bgCurrencyTwo {
  width: 90px;
  height: 90px;
  background-color: #fde3c4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.bgCurrencyThree {
  width: 90px;
  height: 90px;
  background-color: #cffddf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.pfaragraf {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
