@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.mainTextFieldDiv {
  border-radius: 10px;
}

.centerText {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 0.6rem;
  font-family: "Open Sans", sans-serif;
}

.minimalSum {
  color: gray;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.bottomText {
  display: flex;
  flex-direction: column;
  margin-left: 0.3rem;
}

@media (max-width: 600px) {
  .bottomText {
    display: flex;
    flex-direction: column;
  }

  .btnDivv {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    animation: myAnim 1s ease 1s 1 normal forwards;
  }
}

.ekonom {
  color: gray;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.wait {
  color: gray;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
}

.btnDivv {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  animation: myAnim 1s ease 1s 1 normal forwards;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}
