@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.mainDiv {
  margin-top: 0px;
  /* background-image: url("https://avatars.mds.yandex.net/i?id=08302abda9619cad06c996b32ae59cdc7e00bebb-9863357-images-thumbs&n=13"); */
  /* background-repeat: no-repeat;
  background-size: 355vh; */
  height: 100vh;
}

.miniMainDiv {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  height: 600px;
}

.mainTwoTextFiled {
  gap: 2rem;
}

.text {
  font-size: 1.7rem;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 80%;
}

.pharagraf {
  color: #444444;
  font-size: 10px;
}

.theme {
  font-size: 48px;
  color: #8394b0;
  text-align: start;
  text-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  margin-top: 5rem;
}

.bottomTextFiled {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.textFielder {
  background-color: #fff;
  padding: 0px;
  margin-top: 3rem;
  border-radius: 20px;
}

.textFieldHeader {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trrrr {
  width: 50%;
}

@media (max-width: 1100px) {
  .text {
    font-size: 1.6rem;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  .theme {
    font-size: 37px;
    color: #8394b0;
    text-align: start;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    margin-top: 5rem;
  }
}

@media (max-width: 1000px) {
  .mainDiv {
    margin-top: 0px;
    /* background: white; */
    /* background-image: url("https://avatars.mds.yandex.net/i?id=08302abda9619cad06c996b32ae59cdc7e00bebb-9863357-images-thumbs&n=13");
    background-repeat: no-repeat;
    background-size: 355vh; */
    height: 100vh;
  }

  .miniMainDiv {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    height: 500px;
  }

  .text {
    font-size: 1.8rem;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  .theme {
    font-size: 37px;
    color: #8394b0;
    text-align: start;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    margin-top: 5rem;
  }

  .bottomTextFiled {
    display: flex;
    align-items: center;
    margin-top: 0rem;
  }

  .textFieldHeader {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trrrr {
    width: 50%;
  }
}
@media (max-width: 940px) {
  .text {
    font-size: 1.5rem;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    /* text-wrap: nowrap; */
    /* margin-left: 1rem; */
  }

  .theme {
    font-size: 35px;
    color: #8394b0;
    text-align: start;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    margin-top: 5rem;
    /* margin-left: 1rem; */
  }
}

@media (max-width: 820px) {
  .text {
    font-size: 1.7rem;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    /* text-wrap: nowrap; */
    /* margin-left: 1rem; */
  }

  .theme {
    font-size: 30px;
    color: #8394b0;
    text-align: start;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    margin-top: 5rem;
    /* margin-left: 1rem; */
  }

  .bottomTextFiled {
    display: flex;
    width: 90%;
    /* padding-left: 0.6rem; */
  }
}

@media (max-width: 1200px) {
  .theme {
    font-size: 32px;
    color: #8394b0;
    text-align: start;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    margin-top: 5rem;
    /* margin-left: 1rem; */
  }
}

@media (max-width: 720px) {
  .text {
    font-size: 1.5rem;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  .miniMainDiv {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0rem;
    height: 500px;
  }

  .theme {
    font-size: 25px;
    color: #8394b0;
    text-align: start;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    margin-top: 5rem;
  }

  .bottomTextFiled {
    display: flex;
    width: 80%;
    /* padding-left: 0.6rem; */
  }
}

@media (max-width: 600px) {
  .mainDiv {
    margin-top: 0px;
    /* background-image: url("https://avatars.mds.yandex.net/i?id=08302abda9619cad06c996b32ae59cdc7e00bebb-9863357-images-thumbs&n=13");
    background-size: 150vh; */
  }

  .miniMainDiv {
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .trrrr {
    width: 100%;
    /* margin-top: 11rem; */
    padding-top: 14rem;
  }

  .mainTwoTextFiled {
    gap: 1rem;
  }

  .text {
    font-size: 1rem;
    width: 80%;
    color: #444444;
    text-align: center;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  .pharagraf {
    color: #444444;
    font-size: 10px;
  }

  .theme {
    width: 100%;
    font-size: 28px;
    color: #012970;
    text-align: center;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: 0 auto;
  }

  .bottomTextFiled {
    display: flex;
    width: 100%;
    padding-left: 0.6rem;
  }
}

@media (max-width: 330px) {
  .trrrr {
    width: 100%;
    padding-top: 17rem;
  }
}
