@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.mainDiv {
  margin-top: 0px;
  /* background: white; */
  background-image: url("https://avatars.mds.yandex.net/i?id=08302abda9619cad06c996b32ae59cdc7e00bebb-9863357-images-thumbs&n=13");
  background-repeat: no-repeat;
  background-size: 355vh;
}

.miniMainDiv {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  height: 600px;
}

.mainTwoTextFiled {
  gap: 2rem;
}

.text {
  font-size: 1.3rem;
  /* width: 50%; */
  color: #444444;
}

.pharagraf {
  color: #444444;
  font-size: 10px;
}

.theme {
  /* width: 50%; */
  font-size: 48px;
  /* font-weight: 700; */
  color: #012970;
  text-align: start;
  text-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  margin-top: 5rem;
}

.topTextFiled {
  display: flex;
  margin-top: 0rem;
}
.bottomTextFiled {
  display: flex;
  justify-content: center;
}

.textFielder {
  background-color: #fff;
  /* border-radius: 15px;
  border: 2px solid #1976d2; */
  /* width: 100%; */
  padding: 10px;
  margin-top: 3rem;
}

.trrrr {
  width: 50%;
}

@media (max-width: 600px) {
  .mainDiv {
    margin-top: 0px;
  }

  .miniMainDiv {
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
    /* margin-top: 2rem; */
  }
  .trrrr {
    width: 100%;
  }

  .mainTwoTextFiled {
    gap: 2rem;
  }

  .text {
    font-size: 1rem;
    width: 100%;
    color: #444444;
    text-align: center;
  }

  .pharagraf {
    color: #444444;
    font-size: 10px;
  }

  .theme {
    width: 100%;
    font-size: 28px;
    color: #012970;
    text-align: center;
    text-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    /* padding-top: 7rem; */
  }

  .topTextFiled {
    display: flex;
    margin-top: 0rem;
  }

  .bottomTextFiled {
    display: flex;
  }
}
